body {
    display: flex;
    flex-direction: row;

    margin: 0;
}

#map {
    height: 100vh;
    width: 70%;
}

#ctrl-pnl {
    margin: 15px;
    width: 30%;
}

/*DARK MODE ON LEAFLET*/
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}